.About {
  max-width: 100% !important;
  min-height: 80vh !important;
  flex-direction: column;
}

.text-about {
  width: 70vw !important;
  line-break: loose !important;
  line-height: 2rem !important;
  color: #e6d9a2;
}
