.Poster {
  width: 100% !important;
  min-height: 80vh !important;
  display: flex !important;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #524171 !important;
}

.icons {
  color: #e6d9a2 !important;
  filter: drop-shadow(4px 0px 15px #e6d9a2) !important;
  border: 2px solid #e6d9a2 !important;
  border-radius: 50%;
  padding: 10% !important;
  &:hover {
    transform: translateY(-5px) !important;
  }
}

.textme {
  width: 35rem !important;
  display: inline-block !important;
  color: #e6d9a2;
}

.text-main {
  color: #f86fbd;
}

.img-fluid img {
  width: auto !important;
  height: 20rem;
  background-color: #fff important;
  box-shadow: 1px 0px 15px rgba(0, 0, 0, 0.5);
  border-radius: 20% 10% 40% 10% !important;
  animation: animate 1s ease infinite !important;
}

@keyframes animate {
  0% {
    transform: translatey(-2px);
  }
  50% {
    transform: translateY(2px);
  }
}

.btn {
  background-color: #f86fbd;
  color: #e6d9a2;
  filter: drop-shadow(0px 0px 5px #f86fbd);
  &:hover {
    background-color: #f86fbd;
    transform: scale(1.1) !important;
  }
}
