.nav-link {
  color: #f86fbd;
  &:hover {
    text-decoration: overline #e6d9a2 !important;
    padding-bottom: 0.5rem;
    color: #e6d9a2;
  }
}

.navbar {
  background-color: #524171;
}

.navbar-toggler {
  background-color: #f86fbd !important;
}

.navbar-brand {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 100;
  font-size: 1.5rem;
  color: #e6d9a2;
  &:hover {
    transition: width 2s linear 1s #f86fbd;
  }
}
