.Images {
  width: 30rem;
}

.Images img {
  width: 5rem !important;
}

.Main-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.circle-Bar {
  width: 10rem !important;
}

.skills-icon {
  display: inline-flex;
  flex-wrap: wrap;
  margin-left: 2rem !important;
  margin-top: 2rem !important;
  border: 1px solid transparent !important;
  border-radius: 5%;
  filter: drop-shadow(1px 0px 1px #e6d9a2);
  background-color: #624e88;
  &:hover {
    transform: translatey(-10px) !important;
  }
}
