.Images img {
  width: 6rem !important;
}

.Main-content {
  display: flex;
  flex-wrap: wrap !important;
  flex-direction: row !important;
  justify-content: center;
  align-items: center;
}

.circle-Bar {
  width: 10rem !important;
}

.skills-icon {
  display: inline-flex;
  flex-direction: row !important;
  flex-wrap: wrap;
  margin: 2rem 2rem !important;
  border-radius: 5%;
  box-shadow: 2px 2px 8px #787272;
  filter: drop-shadow(1px 0px 1px #e6d9a2);
  background-color: #624e88;
  &:hover {
    transform: translatey(-10px) !important;
  }
}
